body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 1em 5%;

}


h1 {
  font-size: 2em;
  color: #f5a623;
  line-height: 2em;
  display: inline;

}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  color: #999;
  line-height: 1.5em;
  padding: 0.7em;
}

h3 {
  font-style: italic;
  font-size: 1.2em;
  color: #000;
  line-height: 1.2em;
}

h4 {
  font-weight: bold;
  font-size: 1em;
  color: #4a4a4a;
  line-height: 1em;
}

h2,
h3,
h4,
h5 {
  padding:0.8em 5%;

}

.role{
	font-size:0.875em;
	padding:0 0 0.8em 0;
	text-align:left;
}

.date-text {
  font-style: normal;
  font-size: 0.875em;
  color: #000;
  line-height: 1em
  /*float: left;*/
  padding:0 0 0.6em 0;
  text-align:left;
}

.location-text {
  font-style: italic;
  font-size: 1em;
  color: #999;
  line-height: 1em;
  float: right;

}

p {
  font:75% Verdana, Arial, sans-serif;
  color: #000;
  line-height: 1.2em;
  padding:0 0 0 0;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 0.2em;
  display: block;
  padding: 0 0 1em 0;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  padding-top: 2em;
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
  word-spacing: 1em;
  padding-bottom:1em;
  font-size:1em;

}

.white-text {
  padding-right: 4em;
  font-weight: bold;
  color: #fff;
  font-size:0.876em;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 0.7em;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
  width:auto
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 0.8em;
  width: 14em;
  display: none;
}

img {
  padding: 10px;
}

span {
  font-size:1em;
  padding: 0.5em;
  color:#fff;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
